<form class="form-post">
<div class="container mt-3">
    <h1 class="text-center">Create a post</h1>
      <h2 class="text-white">Welcome, {{user.name}}!</h2>
    <p class="text-white text-center ">Tell us your thoughts!</p>
    <div class="card text-center">
  <div class="card-header bg-success">
  Blog
  </div>
  <div class="card-body ">
    <div class="mb-3">
  <label for="exampleFormControlInput1" class="text-dark fs-2">What are you thinking?</label>
  <input type="text" class="form-control" id="post-title" placeholder="Post Title">
</div>
  <div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="post-content" style="height: 100px"></textarea>
  <label class="text-dark" for="floatingTextarea2">Write a post</label>
  <div class="card-footer text-body-secondary">
    </div>
    <button type="submit" class="btn btn-outline-primary">Add post</button>
</div>
</div>
   <h2 class="text-black text-center">Reviews</h2>
{{#each blogs as |blog|}}
<div class="card text-center blog-list w-50 container mt-3 mb-5 bg-dark opacity-80">
  <div class="card-header bg-success">
  </div>
  <div class="card-body row justify-content-center">
    <h5 class="card-title text-white">{{blog.blog_title}}</h5>
    <p class="card-text text-white">{{blog.blog_content}}</p>
     <textarea class="form-control" placeholder="Edit post" id="post-content-edit" style="height: 100px"></textarea>
    <button data-edit="{{blog.id}}" class="btn btn-edit btn-primary mt-2">Edit</button>
    <button data-delete="{{blog.id}}" class="btn btn-delete btn-danger mt-2">Delete</button>
  </div>
  <div class="card-footer text-body-secondary">
    <p class="text-white">Created on: {{format_date blog.blog_created}}</p>
  </div>
</div>
{{/each}}
<script src="./js/profile.js"></script>