<form class="form-post">
<div class="container mt-3">
    <h1 class="text-center">Create a post</h1>
    <p class="text-white text-center">Tell us your thoughts!</p>
    <div class="card text-center">
  <div class="card-header">
  Blog
  </div>

  <div class="card-body ">
    <div class="mb-3">
  <label for="exampleFormControlInput1" class="text-dark fs-2">What are you thinking?</label>
  <input type="text" class="form-control" id="post-title" placeholder="Post Title">
</div>
  <div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="post-content" style="height: 100px"></textarea>
  <label class="text-dark" for="floatingTextarea2">Write a post</label>
  <div class="card-footer text-body-secondary">
    </div>
    <button type="submit" class="btn btn-outline-primary">Add post</button>
  </div >
    <p class="text-dark">2 days ago</p> 
  </div>
</div>
 
</div>
 {{!-- {{#if posts.length}} --}}
  <div class="col-md-6 project-list">
  
    {{!-- {{#each posts as |post|}} --}}
      <h3>Current Projects:</h3>
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{post.id}}">{{post}}</a>{{posts}}</h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger " data-id="{{post.id}}">{{post}}</button>
      </div>
    </div>
    {{!-- {{/each}} --}}
  </div>
</div>
 {{!-- {{/if}} --}}
</form>

<script src="./js/profile.js"></script>